.profile-page {
  display: flex;
  overflow-y: auto;
  scrollbar-width: thin;
  height: calc(100vh - 60px);

  .details {
    flex: 3;
    padding: 1em;
    gap: 30px;
    overflow: auto;
    scrollbar-width: thin;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        font-weight: 300;
      }

      button {
        padding: 0.6em;
        background-color: rgb(255, 222, 104);
        cursor: pointer;
        border: none;
        border-radius: 0.8em;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 0.8em;
      padding: 1em;
      margin: 1em 0em;
      border-radius: 0.8em;
      box-shadow: 0px 0px 10px 1px lightgray;

      span {
        display: flex;
        align-items: center;
        gap: 0.6em;
      }

      button {
        padding: 1em;
        border-radius: 0.8em;
        border: none;
        background-color: teal;
        color: white;
        font-weight: bold;
        cursor: pointer;
        width: 30%;
      }
      img {
        width: 2em;
        height: 2em;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid gray;
      }
    }
  }

  .chat-container {
    background-color: rgb(243, 243, 243);
    flex: 2;
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .profile-page {
    display: grid;
    place-items: center;
    .details {
      width: 70vw;
      flex: none;
      height: max-content;
    }

    .chat-container {
      width: 70vw;
      flex: none;
      height: max-content;
    }
  }
}

@media (max-width: 738px) {
  .profile-page {
    display: grid;
    place-items: center;
    .details {
      width: 95vw;
    }

    .chat-container {
      width: 95vw;
    }
  }
}
