.homePage {
  display: flex;
  height: 100%;
  height: calc(100vh - 60px);
  overflow-y: auto;
  scrollbar-width: thin;

  .textContainer {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    gap: 50px;
    padding: 1em;

    .title {
      font-size: 3em;
    }

    .boxes {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 1.2em;
        font-weight: 300;
      }
    }
  }

  .imageContainer {
    flex: 2;
    background-color: #f3e9dc;
    height: 100%;
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 1024px) {
  .homePage {
    display: grid;
    place-items: center;
    .textContainer {
      width: 70vw;
      flex: none;
      height: max-content;
      .boxes {
        .box {
          p,
          h2 {
            font-size: 1.2em;
          }
        }
      }
    }
    .imageContainer {
      display: none;
    }
  }
}

@media (max-width: 738px) {
  .homePage {
    display: grid;
    place-items: center;
    .textContainer {
      justify-content: flex-start;
      gap: 1em;
      width: 95vw;
      .title {
        font-size: 2em;
      }

      p {
        font-size: 1em;
      }
      .boxes {
        .box {
          h2,
          p {
            font-size: 0.9em;
          }
        }
      }
    }
  }
}
